/*
    font-family: 'Redressed', cursive;
    font-family: 'Pirata One', cursive;

*/

.header{
    font-size: 3rem;
    font-family: 'Redressed', cursive;
}

.name{
    font-family: 'Pirata One', cursive;
}