/*
    font-family: 'Redressed', cursive;
    font-family: 'Pirata One', cursive;
    font-family: 'Poppins', sans-serif;
*/

.header{
    font-size: 3rem;
    font-family: 'Redressed', cursive;
}

.name{
    font-family: 'Pirata One', cursive;
    color: hsl(249, 25%, 30%);
}

.half{
    width: 40%;
    float: left;
    margin-left: 5%;
}

.flex{
    display: flex;
}

.half img{
    height: 300px;
    margin-left: 20%;
    margin-top: 2rem;
}

p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

section.dream{
    padding-top: 30rem;
}